<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linkt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/questionnaire.css" type="text/css">
</head>
<body>
    <div id="AppMain">
        <div id="App">
            <div class="TitleDiv">
                <h1 class="Title">Questions</h1>

                <h3 class="SubText">Please answer the following questions in order to refine your match suggestions.</h3>
            </div>

            <div class="QuestionBox">
                <div class="QuestionTextBox">
                    <p id="QuestionTitle">Do you live an active lifestyle?</p>
                </div>
                <div class="QuestionTextBox">
                    <p class="QuestionText">Yes</p>
                    <div class="Dot"></div>
                </div>
                <div class="QuestionTextBox">
                    <p class="QuestionText">Somewhat</p>
                    <div class="Dot"></div>
                </div>
                <div class="QuestionTextBox">
                    <p class="QuestionText">No</p>
                    <div class="Dot"></div>
                </div>
            </div>

            <div class="QuestionBox">
                <div class="QuestionTextBox">
                    <p id="QuestionTitle">Which do you prefer?</p>
                </div>
                <div class="QuestionTextBox">
                    <p class="QuestionText">Books</p>
                    <div class="Dot"></div>
                </div>
                <div class="QuestionTextBox">
                    <p class="QuestionText">Movies</p>
                    <div class="Dot"></div>
                </div>
                <!-- <div class="QuestionTextBox">
                    <p class="QuestionText">Other</p>
                    <div class="Dot"></div>
                </div> -->
            </div>

            <div class="QuestionBox">
                <div class="QuestionTextBox">
                    <p id="QuestionTitle">Do you have a pet?</p>
                </div>
                <div class="QuestionTextBox">
                    <p class="QuestionText">Yes</p>
                    <div class="Dot"></div>
                </div>
                <div class="QuestionTextBox">
                    <p class="QuestionText">No</p>
                    <div class="Dot"></div>
                </div>
                <!-- <div class="QuestionTextBox">
                    <p class="QuestionText">Other</p>
                    <div class="Dot"></div>
                </div> -->
            </div>

            <div class="QuestionBox">
                <div class="QuestionTextBox">
                    <p id="QuestionTitle">What is your favourite genre of music?</p>
                </div>

                <div>
                    <select id="music" name="music">
                    <option value="rock">Rock</option>
                    <option value="saab">Hip-hop</option>
                    <option value="fiat">Country</option>
                    <option value="audi">Soul</option>
                    <option value="saab">R & B</option>
                    <option value="fiat">Punk</option>
                  </select>
                
                </div>
            </div>

            <div class="button_container">
                <div class="button_container_inner">Next</div>
            </div>

        </div>
    </div>
</body>
</html>