body {
    background-color: #FAFAFA;
}

.main-container {
    margin-top: 6em;
    margin-bottom: 6em;
}

.profile-container {
    margin-top: 6em;
    margin-bottom: 6em;
    margin-left: auto;
    margin-right: auto;
}

.profile-container > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.profile-info-container {
    margin-top: 1em;
    width: 95%;
}

.profile-ribbon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-photo {
    display: flex;
    justify-content: center;
    width: 80%;
    border: none;
}

.carousel-inner > .carousel-item > img {
    margin: 0 auto;
  }


.profile-ribbon {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.name {
    text-transform: capitalize;
    font-weight: bold;
}

.ribbon-content {
    display: flex;
    align-items: center;
}

.profile-icon {
    max-width: 15px;
    max-height: 15px;
    margin-right: 1em;
}

.profile-image-container {
    display: flex;
    justify-content: center;
}

.message-button-container {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.message {
    background-color: #ED2265;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.like {
    background-color: #3BA3A8;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.buttons {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 500px) {
    * {
        font-size: 11px;
    }

    .name {
        font-size: 14px;
    }

    .profile-photo {
        max-width: 300px;
    }

    main {
        width: 100vw;
    }
}
@media only screen and (min-width: 501px) {

    .profile-photo {
        max-width: 320px;
    }

    header {
        max-width: 1000px;
    }

    main {
        max-width: 1000px;
    }
}