/* test CSS */
ul {
    list-style-type: none;
}

.header-text {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:#FAFAFA;
}
.message {
    background-color: #ED2265;
}

.main-container {
    height: 100vh;
    padding-top:5.2em;
    background-color: #3BA3A8;
}

main {
    /* margin-bottom: 5.1em; */
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #3BA3A8;
}

.match {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FAFAFA;
    padding: 1em;
    border-radius: 30px;
    box-shadow:#1E757E 4px 8px 6px;
}

.match-profile-photo-container {
    display: flex;
    justify-content: center;
}

.match-profile-photo {
    border-radius: 100%;
    max-width: 80vw;
}

.message-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.message-box {
    display: flex;
    background-color: rgb(241, 241, 241);
    height: 45vh;
    min-width: 300px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    overflow: hidden;
}

#outGoingMessage {
    border: 2px solid lightgray;
    min-width: 200px;
}

.message-submit-button {
    background-color: #ED2265;
    font-weight: normal;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.input-box {
    background-color: #3BA3A8;
    color: #303030;
}

.socketIOControls {
    display: flex;
    justify-content: space-evenly;
}

#messageForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages {
    width: 100%;
    word-wrap: break-word;
    padding: 1em;
    overflow: hidden;
    margin: 0;
    border-radius: 15px;
}

.other-message {
    float: left;
    background-color: #1E757E;
    max-width: 45%;
    clear: both;
    padding: 0.3em 0.5em;
    margin-top: 0.3em;
    text-align: left;
    color: white;
    border-radius: 10px;

  }
  
.my-message {
    float: right;
    background-color: #3BA3A8 ;
    max-width: 45%;
    clear: both;
    padding: 0.3em 0.5em;
    text-align: right;
    color: white;
    border-radius: 10px;
    margin-top: 0.3em;


}

.message-submit-button {
    margin-left: 0.5em;
}


@media only screen and (max-width: 500px) {
    
    * {
        font-size: 12px;
    }

    .match-profile-photo-container {
        padding-top: 0;
    }

    .match-profile-photo {
        width: 160px;
        height: 160px;
    }

    .main-container {
        min-height: 100vh;
    }

    main {
        width: 100vw;
        padding-top: 6em;
    }
}
@media only screen and (min-width: 501px) {

    .match-profile-photo {
        width: 168px;
        height: 168px;
    }

    header {
        max-width: 1000px;
    }

    main {
        max-width: 1000px;
    }

    .main-container {
    }
}